doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title networkingInHospital
        style 
            include ../css/welcomestyle.css
    body
        .container-1
            .contain(style="--i:1")
                ul
                    li
                        a(href="/getIndexPage" style="--i:1") Patient
            .img.img-0
        .container-1
            .contain(style="--i:2")
                ul
                    li
                        a(href="/getStaffPage") Medical Staff
            .img.img-1
        .container-1
            .contain(style="--i:3")
                ul
                    li
                        a(href="/getDoctorPage") Doctor
            .img.img-2
        .container-1
            .contain(style="--i:4")
                ul
                    li
                        a(href="/getPharmacistPage") Pharmacist
            .img.img-3